<div class="container-fluid" id="create-user">
  <div class="container" id="dashboard">
    <div class="row justify-content-md-center" id="dashboard">
      <form action="/item/update/<%- item.id %>" method="post">
        <div class="row" id="dashboard" id="dashboard">
          <div class="col" id="dashboard">
            <label for="validationsku" class="form-label" id="dashboard"
              >SKU</label
            >
            <input
              type="text"
              class="form-control"
              id="validationsku"
              name="sku"
              placeholder="SKU"
              value="<%- item.sku %> "
              disabled
            />
          </div>
          <div class="col" id="dashboard">
            <label for="validationitemname" class="form-label" id="dashboard"
              >Item Name</label
            >
            <input
              type="text"
              class="form-control"
              id="validationitemname"
              name="itemname"
              placeholder="Item Name"
              value="<%- item.itemname %> "
              disabled
            />
          </div>
        </div>
        <div class="row" id="dashboard" id="dashboard">
          <div class="col" id="dashboard">
            <label
              for="validationitemdescription"
              class="form-label"
              id="dashboard"
              >Item Description</label
            >
            <input
              type="text"
              class="form-control"
              id="validationitemdescription"
              name="itemdescription"
              placeholder="Item Description"
              value="<%- item.itemdescription %> "
              required
            />
          </div>
          <div class="col" id="dashboard">
            <label for="validationprice" class="form-label" id="dashboard"
              >Price</label
            >
            <input
              type="text"
              class="form-control"
              id="validationprice"
              name="price"
              placeholder="Price"
              value="<%- item.price %> "
              required
            />
          </div>
        </div>
        <div class="row" id="dashboard" id="dashboard">
          <div class="col" id="dashboard">
            <label for="validationbrand" class="form-label" id="dashboard"
              >Brand</label
            >
            <input
              type="text"
              class="form-control"
              id="validationbrand"
              name="brand"
              placeholder="Brand"
              value="<%- item.brand %> "
              required
            />
          </div>
          <div class="col" id="dashboard">
            <label for="validationstock" class="form-label" id="dashboard"
              >Stock</label
            >
            <input
              type="text"
              class="form-control"
              id="validationstock"
              name="stock"
              placeholder="Stock"
              value="<%- item.stock %> "
              required
            />
          </div>
        </div>
        <div class="col" id="dashboard" id="dashboard">
          <button class="btn btn-light" type="submit">Update Item</button>
        </div>
      </form>
    </div>
  </div>
</div>
